affine==2.4.0
attrs==25.3.0
branca==0.8.1
Cartopy==0.24.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
contextily==1.6.2
contourpy==1.3.2
cycler==0.12.1
folium==0.19.5
fonttools==4.57.0
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
-e git+ssh://git@github.com/ZakLawrence/GPX-Display.git@b1de2912cc67082807c207b052e9a3907e059c6f#egg=gpx_display
gpxpy==1.6.2
h11==0.14.0
h3==4.2.2
idna==3.10
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
mercantile==1.2.1
networkx==3.4.2
numpy==2.2.5
osmnx==2.0.2
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.3
pillow==11.2.1
pycparser==2.22
pyogrio==0.10.0
pyparsing==3.2.3
pyproj==3.7.1
pyshp==2.3.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
rasterio==1.4.3
requests==2.32.3
selenium==4.31.0
shapely==2.1.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
timezonefinder==6.5.9
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
websocket-client==1.8.0
wsproto==1.2.0
xyzservices==2025.1.0
